/* Entire body. */

body {
    background-color: #010330;
    color: white;
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
    font-weight: bold;
}

h1, h2, h3 {
    margin-top: 1rem;
    display: block;
    text-align: center;
}

h1 {
    font-size: 5vw;
}

h3 {
    font-size: 3vw;
}


/* Top navigation buttons. */

.topNavContainer {
    display: block;
    width: 100%;
    text-align: center;
}

.topNavButton {
    display: inline-block;
    margin: 1vw;
    min-width: 15vw;
}

.topNavButton p {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 1.5vw;
}

.topNavButtonIcons {
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid hsla(226, 57%, 55%, 0.5);
    color: rgba(255, 255, 255, 0.5);
    transition: 1s;
    width: 7vw;
    height: 7vw;
    background: rgba(0, 5, 97, 0.5) no-repeat center;
    background-size: 3vw;
    display: inline-block;
    outline: none;
}
.topNavButtonIcons:hover {
border: 1px solid hsla(226, 57%, 55%, 1);
  }

  .homeIcon {
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' id='svg14' xml:space='preserve' enable-background='new 0 0 16.583 51.414' viewBox='0 0 16.583 51.414' height='51.414px' width='16.583px' y='0px' x='0px' version='1.1'%3E%3Cmetadata id='metadata20'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs18' /%3E%3Cg id='Layer_1'%3E%3Cg opacity='0.5' id='layer1'%3E%3Crect height='10.81' width='1.784' fill='%23E8E8E8' y='21.196' x='1.235' id='rect3001'%3E%3C/rect%3E%3Crect height='10.81' width='1.784' fill='%23E8E8E8' y='21.196' x='7.527' id='rect3001-1'%3E%3C/rect%3E%3Crect height='10.81' width='1.784' fill='%23E8E8E8' y='21.196' x='13.818' id='rect3001-7'%3E%3C/rect%3E%3Crect height='10.81' width='1.784' fill='%23E8E8E8' y='21.196' x='10.672' id='rect3001-7-0'%3E%3C/rect%3E%3Crect height='10.81' width='1.785' fill='%23E8E8E8' y='21.196' x='4.381' id='rect3001-7-9'%3E%3C/rect%3E%3Crect height='0.867' width='16.374' fill='%23E8E8E8' y='32.11' x='0.09' id='rect3828'%3E%3C/rect%3E%3Crect height='0.866' width='16.374' fill='%23E8E8E8' y='33.048' x='0.09' id='rect3828-4'%3E%3C/rect%3E%3Crect height='0.866' width='16.374' fill='%23E8E8E8' y='33.985' x='0.09' id='rect3828-8'%3E%3C/rect%3E%3Cpath d=' M0.118,20.256l8.187-3.694l8.187,3.694v0.867H0.118V20.256z' fill='%23E8E8E8' id='rect3828-4-8' /%3E%3C/g%3E%3C/g%3E%3Cg id='Layer_2'%3E%3C/g%3E%3C/svg%3E");
      }

  .homeIcon:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.583' height='51.414'%3E%3Cpath fill='%23FFF' d='M1.235 21.196h1.784v10.81H1.235v-10.81zm6.292 0h1.784v10.81H7.527v-10.81zm6.291 0h1.784v10.81h-1.784v-10.81zm-3.146 0h1.783v10.81h-1.783v-10.81zm-6.291 0h1.785v10.81H4.381v-10.81zM.09 32.109h16.374v.867H.09v-.867zm0 .939h16.374v.866H.09v-.866zm0 .936h16.374v.867H.09v-.867zm.028-13.728l8.187-3.694 8.188 3.694v.867H.118v-.867z'/%3E%3C/svg%3E");
      }

  .flintIcon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.583' height='51.414'%3E%3Cpath opacity='.5' fill='%23E8E8E8' d='M4.395 34.561l.125-3.5.48-2.414.02-2.708.438-1.771.498.054-.081-.491.354-.472-.312-.07.395-.438-.344.126-.228.039.03-1.956.376-.205.146-.254L6 20.46l-.042-1.731.25-.867.354-.006.021-1.294 1.084-3.458h.813l.562 1.458.916 2.042.089.459-.297.668.375.062.583 4.602v2.625l.521 1.417.146 1.501.204.276.193 2.973.416 1.667-.521.541-.522-.084-.416-.582-.604.145-.375 2.105-.542 3.248-1.666.084-.272-1.584-.458-2.416-.458-1.167-.693.188-.494.582-.159.518z'/%3E%3C/svg%3E");
      }

  .flintIcon:hover {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.583' height='51.414'%3E%3Cpath fill='%23FFF' d='M4.395 34.561l.125-3.5.48-2.414.02-2.708.438-1.771.498.054-.081-.491.354-.472-.312-.07.395-.438-.344.126-.228.039.03-1.956.376-.205.146-.254L6 20.46l-.042-1.731.25-.867.354-.006.021-1.294 1.084-3.458h.813l.562 1.458.916 2.042.089.459-.297.668.375.062.583 4.602v2.625l.521 1.417.146 1.501.204.276.193 2.973.416 1.667-.521.541-.522-.084-.416-.582-.604.145-.375 2.105-.542 3.248-1.666.084-.272-1.584-.458-2.416-.458-1.167-.693.188-.494.582-.159.518z'/%3E%3C/svg%3E");
     border-color: hsla(165, 100%, 52%, 0.5);
}

  .courseA {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.583' height='51.414'%3E%3Cpath opacity='.5' fill='%23E8E8E8' d='M16.125 23.625l-1-.416-1.5-.417-1.543-.458-1.207-.625-.709-.917-.584-.875-3.208.292-.667-.667-.833-.625v-1.292l-.583-.208-.417-1.208-.833-.292-1-.5-.667-.208-.75.958-.374.958v.959l.417 1.583L1.375 22l.583 1.584.084 1.833.416.917.375 2.083.042 1.208.667 2.75.791 1.792 1.209 1.917.541 1.625.959.5 1.708.375h.833l2.209-2.334 2.25-3.791 1.166-2.334.834-2.916.541-2.459-.458-1.125zM1.833 18.833l-.916-.416.25-.563.5-1.521 1.083 1.042.083.958-1 .5z'/%3E%3C/svg%3E");
      }

  .courseA:hover {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.583' height='51.414'%3E%3Cpath fill='%23FFF' d='M16.125 23.625l-1-.416-1.5-.417-1.543-.458-1.207-.625-.709-.917-.584-.875-3.208.292-.667-.667-.833-.625v-1.292l-.583-.208-.417-1.208-.833-.292-1-.5-.667-.208-.75.958-.374.958v.959l.417 1.583L1.375 22l.583 1.584.084 1.833.416.917.375 2.083.042 1.208.667 2.75.791 1.792 1.209 1.917.541 1.625.959.5 1.708.375h.833l2.209-2.334 2.25-3.791 1.166-2.334.834-2.916.541-2.459-.458-1.125zM1.833 18.833l-.916-.416.25-.563.5-1.521 1.083 1.042.083.958-1 .5z'/%3E%3C/svg%3E");
       border-color: hsla(7, 90%, 59%, 0.5);  
    }

    .courseB {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.583' height='51.414'%3E%3Cpath opacity='.5' fill='%23E8E8E8' d='M15.854 26.957l-.625-1.25-.875-1.5-.875-2.063-.813-2.25-.563-.688H11.04l-1.75-.563.375-1.188-.375-.563H6.667l-.5.438.313.125.438.688-.125 1-1.189-.123-.563-.063-1.063.75-.625.875-.75 1.688-.313 1.313-.875 2.125-.813 1.375-.25 1.813v2.375l.625 1.688 1.438 1.813 1.688 1.625 1.813.875H9.229l2.396-.5 1.854-1.313 1.188-1.188.875-1.625.688-1.563.354-2.625-.73-1.501zM5.729 22.02l-1 .625-.813.563-.438-.563.25-1.531.5-.406.625-.75.875-.375h.313l.875 1.531-1.187.906zm7 .25l-.625.375-1.25-.688-.625-.563-.562-.624v-.563l1-.625.75.313.75.688.563 1.313v.374z'/%3E%3C/svg%3E");
    }

    .courseB:hover {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.583' height='51.414'%3E%3Cpath fill='%23FFF' d='M15.854 26.957l-.625-1.25-.875-1.5-.875-2.063-.813-2.25-.563-.688H11.04l-1.75-.563.375-1.188-.375-.563H6.667l-.5.438.313.125.438.688-.125 1-1.189-.123-.563-.063-1.063.75-.625.875-.75 1.688-.313 1.313-.875 2.125-.813 1.375-.25 1.813v2.375l.625 1.688 1.438 1.813 1.688 1.625 1.813.875H9.229l2.396-.5 1.854-1.313 1.188-1.188.875-1.625.688-1.563.354-2.625-.73-1.501zM5.729 22.02l-1 .625-.813.563-.438-.563.25-1.531.5-.406.625-.75.875-.375h.313l.875 1.531-1.187.906zm7 .25l-.625.375-1.25-.688-.625-.563-.562-.624v-.563l1-.625.75.313.75.688.563 1.313v.374z'/%3E%3C/svg%3E");
            border-color: hsla(56, 100%, 52%, 0.5);  
        }

        .courseC {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.583' height='51.414'%3E%3Cpath opacity='.5' fill='%23E8E8E8' d='M16.208 29.04l-.5-.666v-.75l-.25-1.209.25-1.292-.292-1.708V22.29l-.292-1.208-.208-.792-.292-.875-.208-1.083-.875-1.458-.625-.583-.875-.375h-.417l-.541.208-1.167.167.208-.708v-.458H7.292L7 15.416l.167.5v1.625l-.208 2.917-.375 2.5-.334 1.333-.5.792L4.292 26l-1.583.833-1.667 1.457L0 29.624v.875l.792 1.541 1.083 1.792 2.208 2.042 1.833 1.75-.25.916.292.584h5.417l.292-.709-.458-.625.625-.583 3.666-3.208 1.083-3.542-.375-1.417zm-1.833-1.541l-3.333-2.25-.542-1.25-.375-2.167v-3.5l.375-.375 1.042-.708h.583l.917 1.708.625 2.417s.25 1.167.167 1.5c-.051.202.125 1.833.125 1.833l.416 1.708v1.084z'/%3E%3C/svg%3E");
              }

        .courseC:hover {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.583' height='51.414'%3E%3Cpath fill='%23FFF' d='M16.208 29.04l-.5-.666v-.75l-.25-1.209.25-1.292-.292-1.708V22.29l-.292-1.208-.208-.792-.292-.875-.208-1.083-.875-1.458-.625-.583-.875-.375h-.417l-.541.208-1.167.167.208-.708v-.458H7.292L7 15.416l.167.5v1.625l-.208 2.917-.375 2.5-.334 1.333-.5.792L4.292 26l-1.583.833-1.667 1.457L0 29.624v.875l.792 1.541 1.083 1.792 2.208 2.042 1.833 1.75-.25.916.292.584h5.417l.292-.709-.458-.625.625-.583 3.666-3.208 1.083-3.542-.375-1.417zm-1.833-1.541l-3.333-2.25-.542-1.25-.375-2.167v-3.5l.375-.375 1.042-.708h.583l.917 1.708.625 2.417s.25 1.167.167 1.5c-.051.202.125 1.833.125 1.833l.416 1.708v1.084z'/%3E%3C/svg%3E");
                border-color: hsla(128, 100%, 52%, 0.5);
            }


/* Main container (card + artifacts data section). */

    .mainContainer {
            width: auto;
            height: auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
    }

/* Card body. */

.card {
    background-color: #011c3f;
    width: 30vw;
    height: 40vw;
    display: none;
    border: 1px solid hsla(226, 57%, 55%, 0.5);
    border-radius: 5px 5px 50px 50px;
    transition: 1s;
    overflow: hidden;
    position: relative;
    margin: 1rem auto 1rem auto;
}

.card:hover {
    border: 1px solid hsla(226, 57%, 55%, 1);
}


/* Main image. */

.cardImage {
    width: 100%;
    height: 100vw;
    max-height: 80%;
    transition: 1s;
    margin-right: auto;
    margin-left: auto;
}

.cardImage:hover {
    transform: scale(2);
}



/* Item data section. */

.artifactText {
    background-color: #011c3f;
    width: 60vw;
    height: 37.5vw;
    display: none;
    border: 1px solid hsla(226, 57%, 55%, 0.5);
    border-radius: 5px 5px 50px 50px;
    transition: 1s;
    position: relative;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
}

.artifactText:hover {
    border: 1px solid hsla(226, 57%, 55%, 1);
}

.counterText {
    display: block;
    font-size: 2.5rem;
    text-align: center;
    color: rgba(232, 232, 232, 0.5);
    height: 1vw;
}

.counterText h3 {
    font-size: 2vw;
}

.instructions {
    font-size: 2vw;
    text-align: left;
}

.artifactTextInnerBoxes {
    display: inline-block;
    text-align: left;
    height: auto;
    position: relative;
    height: 100%;
    font-size: 1vw;
    width: auto;
}


/* Card buttons. */

.buttonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: auto;
    width: auto;
    padding: 0 0.25vw 0 0.25vw;
}

.buttonHolder {
    height: auto;
    width: auto;
    min-width: 7.5vw;
}

.cardButtons {
    cursor: pointer;
    height: 4vw;
    width: 4vw;
    border-radius: 10px;
    border: 1px solid hsla(226, 57%, 55%, 0.5);
    background: rgba(0, 5, 97, 0.5) no-repeat center;
    background-size: 50px 50px;
    color: rgba(255, 255, 255, 0.5);
    transition: 1s;
    display: block;
    margin: 1vw auto 0 auto;
    position: relative;
    outline: none;
}

.cardButtons:hover {
    border: 1px solid hsla(226, 57%, 55%, 1);
}

.showAnswer {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='560' width='520'%3E%3Cpath d='M301.409 48.436l190.156 190.156c22.866 22.871 22.866 59.949.002 82.818L301.409 511.567c-22.869 22.863-59.949 22.863-82.818-.002L28.436 321.409c-22.869-22.869-22.87-59.947-.001-82.818L218.591 48.436c22.868-22.871 59.949-22.869 82.818 0z' stroke-miterlimit='10' stroke-width='10' stroke='%23E8E8E8' fill='none' opacity='.5'/%3E%3Cpath d='M332.012 289.72c26.025-17.696 29.146-59.679 20.125-83.275-16.654-45.454-72.172-65.926-155.1-43.373-35.044 10.063-39.207 57.6-23.247 73.559.347.347 1.387.694 3.123.347 11.45-5.552 44.068-21.166 54.129-22.901 38.167-6.246 54.474 22.207 43.372 40.944-21.165 35.74-57.946 19.778-53.091 86.051 24.637 16.655 71.13 5.205 72.173-8.674 2.082-28.8 17.35-27.759 38.514-42.677M220.63 379.936c4.51 21.166 4.453 29.634 17.559 34.47 13.879 5.12 33.552 5.637 48.367-3.241 11.724-7.026 12.593-28.189.347-43.025-5.798-7.025-72.52-21.166-66.275 11.797' fill='%23E8E8E8' opacity='.5'/%3E%3C/svg%3E");
    display: none;
}

.showAnswer:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='560' width='520'%3E%3Cpath d='M301.409 48.436l190.156 190.156c22.866 22.871 22.866 59.949.002 82.818L301.409 511.567c-22.869 22.863-59.949 22.863-82.818-.002L28.436 321.409c-22.869-22.869-22.87-59.947-.001-82.818L218.591 48.436c22.868-22.871 59.949-22.869 82.818 0z' stroke-miterlimit='10' stroke-width='10' stroke='%23FFF' fill='none'/%3E%3Cpath d='M332.012 289.72c26.025-17.696 29.146-59.679 20.125-83.275-16.654-45.454-72.172-65.926-155.1-43.373-35.044 10.063-39.207 57.6-23.247 73.559.347.347 1.387.694 3.123.347 11.45-5.552 44.068-21.166 54.129-22.901 38.167-6.246 54.474 22.207 43.372 40.944-21.165 35.74-57.946 19.778-53.091 86.051 24.637 16.655 71.13 5.205 72.173-8.674 2.082-28.8 17.35-27.759 38.514-42.677M220.63 379.936c4.51 21.166 4.453 29.634 17.559 34.47 13.879 5.12 33.552 5.637 48.367-3.241 11.724-7.026 12.593-28.189.347-43.025-5.798-7.025-72.52-21.166-66.275 11.797' fill='%23FFF'/%3E%3C/svg%3E");
}

.nextButton {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='520' height='560'%3E%3Cpath fill='%23FF700A' stroke='%23FFF' stroke-width='10' stroke-miterlimit='10' d='M301.409 48.436l190.156 190.156c22.866 22.871 22.866 59.949.002 82.818L301.409 511.567c-22.869 22.863-59.949 22.863-82.818-.002L28.436 321.409c-22.869-22.869-22.87-59.947-.001-82.818L218.591 48.436c22.868-22.871 59.949-22.869 82.818 0z'/%3E%3Cpath fill='%23FFF' stroke='%23FFF' stroke-width='14' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='M197.75 170v220l182.5-109.959z'/%3E%3C/svg%3E");
}

.nextButton:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='520' height='560'%3E%3Cpath fill='%23FFDFA9' stroke='%23FFF' stroke-width='10' stroke-miterlimit='10' d='M301.409 48.436l190.156 190.156c22.866 22.871 22.866 59.949.002 82.818L301.409 511.567c-22.869 22.863-59.949 22.863-82.818-.002L28.436 321.409c-22.869-22.869-22.87-59.947-.001-82.818L218.591 48.436c22.868-22.871 59.949-22.869 82.818 0z'/%3E%3Cpath fill='%23FFF' stroke='%23FFF' stroke-width='14' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='M197.75 170v220l182.5-109.959z'/%3E%3C/svg%3E");
}

.hideAnswer {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='560' width='520'%3E%3Cpath d='M301.409 48.436l190.156 190.156c22.866 22.871 22.866 59.949.002 82.818L301.409 511.567c-22.869 22.863-59.949 22.863-82.818-.002L28.436 321.409c-22.869-22.869-22.87-59.947-.001-82.818L218.591 48.436c22.868-22.871 59.949-22.869 82.818 0z' stroke-miterlimit='10' stroke-width='10' stroke='%23E8E8E8' fill='none' opacity='.5'/%3E%3Cpath d='M183.4 204.4l151.2 151.2m-151.2 0l151.2-151.2' stroke-linecap='round' stroke-width='28' stroke='%23E8E8E8' fill='none' opacity='.5'/%3E%3C/svg%3E");
}

.hideAnswer:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='560' width='520'%3E%3Cpath d='M301.409 48.436l190.156 190.156c22.866 22.871 22.866 59.949.002 82.818L301.409 511.567c-22.869 22.863-59.949 22.863-82.818-.002L28.436 321.409c-22.869-22.869-22.87-59.947-.001-82.818L218.591 48.436c22.868-22.871 59.949-22.869 82.818 0z' stroke-miterlimit='10' stroke-width='10' stroke='%23FFF' fill='none'/%3E%3Cpath d='M183.4 204.4l151.2 151.2m-151.2 0l151.2-151.2' stroke-linecap='round' stroke-width='28' stroke='%23FFF' fill='none'/%3E%3C/svg%3E");
}

.yes {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='520' height='560'%3E%3Cpath opacity='.5' fill='none' stroke='%23E8E8E8' stroke-width='10' stroke-miterlimit='10' d='M301.409 48.436l190.156 190.156c22.866 22.871 22.866 59.949.002 82.818L301.409 511.567c-22.869 22.863-59.949 22.863-82.818-.002L28.436 321.409c-22.869-22.869-22.87-59.947-.001-82.818L218.591 48.436c22.868-22.871 59.949-22.869 82.818 0z'/%3E%3Cpath opacity='.5' fill='%23E8E8E8' d='M346.853 260.771c-4.952-19.285-20.528-31.498-41.956-33.814a50.669 50.669 0 00-5.44-.299c-18.627 0-31.88 10.878-39.457 25.745-7.916-15.516-21.428-25.58-41.129-25.579-1.304 0-2.636.044-3.994.134-19.595 1.292-36.427 13.009-41.73 35.85-9.54 41.087 35.614 83.088 86.854 123.946 54.49-40.583 97.004-86.452 86.852-125.983z'/%3E%3Cpath d='M374.26 344.858l.021.011-.021-.011z'/%3E%3Cpath opacity='.5' fill='%23E8E8E8' d='M469.839 272.466c-.317-1.447-.624-2.814-.628-4.111-.005-1.66.035-3.386.07-5.055.227-10.251.456-20.851-8.201-26.95-4.47-3.151-18.342-18.873-30.584-32.743-13.817-15.659-22.435-25.348-25.352-27.101-5.475-3.284-18.974-3.354-33.51-3.134-4.155.067-8.081.129-9.36-.07-4.979-.779-9.136 6.666-14.822 26.542a44.729 44.729 0 01-.47 1.611l-.31.854.323.85c.827 2.151 3.235 3.16 4.873 3.824.141.73.46 1.443.946 2.089 1.222 1.624 3.347 2.66 5.785 2.859 2.063 1.314 4.878 1.261 5.776 1.204.806-.053 2.005-.212 3.115-.672 3.08 1.593 8.192 1.646 12.025.5 3.417-1.022 5.736-2.877 6.706-5.315.217.088.434.182.633.266 2.784 1.182 7.179 3.054 11.857 1.62.991 1.721 2.301 3.749 3.744 5.988 3.403 5.275 7.634 11.839 8.152 15.451.358 2.522.474 6.417.589 10.188.088 2.97.172 5.479.318 7.551-24.608-15.128-38.82-11.742-49.514-6.25-4.078 2.094-7.511 5.024-10.254 8.083 1.681 3.14 3.012 6.554 3.954 10.226 3.036 11.823 1.358 24.212-3.938 36.857 7.507 3.386 22.224 9.05 32.642 9.073.486.004.969.004 1.452.004 21.015 0 39.183-1.256 62.548-14.149 13.034-4.333 22.121-10.64 22.121-15.371.004-1.603-.345-3.188-.686-4.719z'/%3E%3Cpath d='M145.717 344.869l.022-.011-.022.011z'/%3E%3Cpath opacity='.5' fill='%23E8E8E8' d='M50.159 272.466c.318-1.447.624-2.814.628-4.111.004-1.66-.036-3.386-.071-5.055-.226-10.251-.456-20.851 8.201-26.95 4.471-3.151 18.342-18.872 30.584-32.743 13.817-15.659 22.435-25.348 25.352-27.101 5.476-3.284 18.975-3.354 33.509-3.134 4.156.067 8.082.129 9.361-.07 4.979-.779 9.135 6.666 14.823 26.542.199.713.411 1.448.469 1.611l.31.854-.323.85c-.828 2.151-3.235 3.16-4.873 3.824a5.09 5.09 0 01-.947 2.089c-1.222 1.624-3.346 2.66-5.785 2.859-2.063 1.314-4.877 1.261-5.775 1.204-.806-.053-2.005-.212-3.116-.672-3.081 1.593-8.192 1.646-12.025.5-3.417-1.022-5.736-2.877-6.706-5.315-.217.088-.434.182-.633.266-2.784 1.182-7.179 3.054-11.857 1.62-.992 1.721-2.302 3.749-3.745 5.988-3.404 5.275-7.635 11.839-8.153 15.451-.358 2.522-.474 6.417-.589 10.188-.088 2.97-.172 5.479-.318 7.551 24.608-15.128 38.82-11.742 49.514-6.25 4.078 2.094 7.511 5.024 10.254 8.083-1.681 3.14-3.011 6.554-3.954 10.226-3.036 11.823-1.358 24.212 3.938 36.857-7.507 3.386-22.225 9.05-32.642 9.073-.487.004-.97.004-1.452.004-21.015 0-39.183-1.256-62.548-14.149-13.034-4.333-22.121-10.64-22.121-15.371 0-1.603.349-3.188.69-4.719z'/%3E%3C/svg%3E");
}

.yes:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='520' height='560'%3E%3Cpath fill='none' stroke='%23FFF' stroke-width='10' stroke-miterlimit='10' d='M301.409 48.436l190.156 190.156c22.866 22.871 22.866 59.949.002 82.818L301.409 511.567c-22.869 22.863-59.949 22.863-82.818-.002L28.436 321.409c-22.869-22.869-22.87-59.947-.001-82.818L218.591 48.436c22.868-22.871 59.949-22.869 82.818 0z'/%3E%3Cpath fill='%23FFF' d='M346.853 260.771c-4.952-19.285-20.528-31.498-41.956-33.814a50.669 50.669 0 00-5.44-.299c-18.627 0-31.88 10.878-39.457 25.745-7.916-15.516-21.428-25.58-41.129-25.579-1.304 0-2.636.044-3.994.134-19.595 1.292-36.427 13.009-41.73 35.85-9.54 41.087 35.614 83.088 86.854 123.946 54.49-40.583 97.004-86.452 86.852-125.983z'/%3E%3Cpath d='M374.26 344.858l.021.011-.021-.011z'/%3E%3Cpath fill='%23FFF' d='M469.839 272.466c-.317-1.447-.624-2.814-.628-4.111-.005-1.66.035-3.386.07-5.055.227-10.251.456-20.851-8.201-26.95-4.47-3.151-18.342-18.873-30.584-32.743-13.817-15.659-22.435-25.348-25.352-27.101-5.475-3.284-18.974-3.354-33.51-3.134-4.155.067-8.081.129-9.36-.07-4.979-.779-9.136 6.666-14.822 26.542a44.729 44.729 0 01-.47 1.611l-.31.854.323.85c.827 2.151 3.235 3.16 4.873 3.824.141.73.46 1.443.946 2.089 1.222 1.624 3.347 2.66 5.785 2.859 2.063 1.314 4.878 1.261 5.776 1.204.806-.053 2.005-.212 3.115-.672 3.08 1.593 8.192 1.646 12.025.5 3.417-1.022 5.736-2.877 6.706-5.315.217.088.434.182.633.266 2.784 1.182 7.179 3.054 11.857 1.62.991 1.721 2.301 3.749 3.744 5.988 3.403 5.275 7.634 11.839 8.152 15.451.358 2.522.474 6.417.589 10.188.088 2.97.172 5.479.318 7.551-24.608-15.128-38.82-11.742-49.514-6.25-4.078 2.094-7.511 5.024-10.254 8.083 1.681 3.14 3.012 6.554 3.954 10.226 3.036 11.823 1.358 24.212-3.938 36.857 7.507 3.386 22.224 9.05 32.642 9.073.486.004.969.004 1.452.004 21.015 0 39.183-1.256 62.548-14.149 13.034-4.333 22.121-10.64 22.121-15.371.004-1.603-.345-3.188-.686-4.719z'/%3E%3Cpath d='M145.717 344.869l.022-.011-.022.011z'/%3E%3Cpath fill='%23FFF' d='M50.159 272.466c.318-1.447.624-2.814.628-4.111.004-1.66-.036-3.386-.071-5.055-.226-10.251-.456-20.851 8.201-26.95 4.471-3.151 18.342-18.872 30.584-32.743 13.817-15.659 22.435-25.348 25.352-27.101 5.476-3.284 18.975-3.354 33.509-3.134 4.156.067 8.082.129 9.361-.07 4.979-.779 9.135 6.666 14.823 26.542.199.713.411 1.448.469 1.611l.31.854-.323.85c-.828 2.151-3.235 3.16-4.873 3.824a5.09 5.09 0 01-.947 2.089c-1.222 1.624-3.346 2.66-5.785 2.859-2.063 1.314-4.877 1.261-5.775 1.204-.806-.053-2.005-.212-3.116-.672-3.081 1.593-8.192 1.646-12.025.5-3.417-1.022-5.736-2.877-6.706-5.315-.217.088-.434.182-.633.266-2.784 1.182-7.179 3.054-11.857 1.62-.992 1.721-2.302 3.749-3.745 5.988-3.404 5.275-7.635 11.839-8.153 15.451-.358 2.522-.474 6.417-.589 10.188-.088 2.97-.172 5.479-.318 7.551 24.608-15.128 38.82-11.742 49.514-6.25 4.078 2.094 7.511 5.024 10.254 8.083-1.681 3.14-3.011 6.554-3.954 10.226-3.036 11.823-1.358 24.212 3.938 36.857-7.507 3.386-22.225 9.05-32.642 9.073-.487.004-.97.004-1.452.004-21.015 0-39.183-1.256-62.548-14.149-13.034-4.333-22.121-10.64-22.121-15.371 0-1.603.349-3.188.69-4.719z'/%3E%3C/svg%3E");
}

.no {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='520' height='560'%3E%3Cpath opacity='.5' fill='none' stroke='%23E8E8E8' stroke-width='10' stroke-miterlimit='10' d='M301.409 48.436l190.156 190.156c22.866 22.871 22.866 59.949.002 82.818L301.409 511.567c-22.869 22.863-59.949 22.863-82.818-.002L28.436 321.409c-22.869-22.869-22.87-59.947-.001-82.818L218.591 48.436c22.868-22.871 59.949-22.869 82.818 0z'/%3E%3Cpath opacity='.5' fill='%23E8E8E8' d='M248.576 421.73c-10.651-5.096-18.76-17.368-18.76-28.382 0-20.49 21.41-35.935 41.671-30.04 13.664 3.97 22.947 16.303 22.838 30.33-.097 11.922-5.253 20.696-15.782 26.869-8.049 4.721-21.531 5.265-29.967 1.223zm2.42-80.933c-1.331-.726-4.466-3.279-6.971-5.664-8.727-8.314-8.727-8.242-14.415-97.32-5.06-79.178-5.107-80.413-2.929-86.101 4.877-12.793 15.77-18.397 33.9-17.453 11.522.605 20.406 4.66 26.167 11.946 4.938 6.221 6.003 9.743 6.003 19.679-.012 10.796-6.911 143.264-7.892 151.385-1.282 10.627-7.479 19.256-16.581 23.057-5.191 2.165-13.772 2.407-17.282.471z'/%3E%3C/svg%3E");
}

.no:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='520' height='560'%3E%3Cpath fill='none' stroke='%23FFF' stroke-width='10' stroke-miterlimit='10' d='M301.409 48.436l190.156 190.156c22.866 22.871 22.866 59.949.002 82.818L301.409 511.567c-22.869 22.863-59.949 22.863-82.818-.002L28.436 321.409c-22.869-22.869-22.87-59.947-.001-82.818L218.591 48.436c22.868-22.871 59.949-22.869 82.818 0z'/%3E%3Cpath fill='%23FFF' d='M248.576 421.73c-10.651-5.096-18.76-17.368-18.76-28.382 0-20.49 21.41-35.935 41.671-30.04 13.664 3.97 22.947 16.303 22.838 30.33-.097 11.922-5.253 20.696-15.782 26.869-8.049 4.721-21.531 5.265-29.967 1.223zm2.42-80.933c-1.331-.726-4.466-3.279-6.971-5.664-8.727-8.314-8.727-8.242-14.415-97.32-5.06-79.178-5.107-80.413-2.929-86.101 4.877-12.793 15.77-18.397 33.9-17.453 11.522.605 20.406 4.66 26.167 11.946 4.938 6.221 6.003 9.743 6.003 19.679-.012 10.796-6.911 143.264-7.892 151.385-1.282 10.627-7.479 19.256-16.581 23.057-5.191 2.165-13.772 2.407-17.282.471z'/%3E%3C/svg%3E");
}

.cardButtonsText {
    display: block;
    position: relative;
    margin: 0.5vw 0 0 0;
    text-align: center;
    font-size: 1vw;
}

footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: hsla(226, 57%, 55%, 0.5);
   color: white;
   text-align: center;
    
}

footer p {
    margin: 0;
    display: inline-block;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 8vw;
    }

    .topNavButton {
        margin: 2vw 2vw 2vw 2vw;
        min-width: 25vw;
    }

    .topNavButton p {
        font-size: 2.5vw;
        margin-top: 1vw;
    }

    .topNavButtonIcons {
        width: 16vw;
        height: 16vw;
        background-size: 8vw;
    }

    .card {
        width: 100vw;
        height: auto;
    }

    .cardImage {
        width: 50vw;
        height: 50vw;
        background-position: center;
        display: block;
        margin-top: 4vw;
    }

    .buttonsContainer {
        justify-content: center;
    }

    .buttonHolder {
        margin: 1vw;
    }

    .cardButtons {
        height: 10vw;
        width: 10vw;
        background-size: 10vw;
    }

    .artifactText {
        width: 100vw;
        min-height: 50vw;
        height: auto;
        font-size: 0.5vw;
    }

    .artifactTextInnerBoxes {
        font-size: 2vw;
    }

    .counterText {
        font-size: 3vw;
    }

    .counterText h3 {
        font-size: 4vw;
    }

    .instructions {
        font-size: 3vw;
    }

    .cardButtonsText {
        font-size: 3vw;
    }

    footer {
        font-size: 4vw;
    }
}
